@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Encode+Sans+SC:wght@100&display=swap');

:root{
    /* --gold: #C88E5E; */
    --gold: #ffdea0;
    --gold_light: #D0A583;
    --black: #000;
    --black_light: #3A3A3A;
    --white: #FFF;
}

*{
    /* font-family: 'Courgette','微軟正黑體', sans-serif; */
    font-family: '"Louis Vuitton Web","Helvetica Neue","Helvetica",Arial','微軟正黑體', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    letter-spacing: .25rem;
}

::-webkit-scrollbar-track {
    background-color: green;
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
background: red; 
border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* overflow: hidden; */
}

section{
    /* margin-bottom: 100px; */
    padding: 100px 0;
    /* min-width: 1500px; */
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    z-index: 999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    
}

.max-width{
    max-width: 1600px; /*1300px*/
    padding: 0 100px;
    margin: 0 auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-nav{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar .nav-title{
    display: inline;
    font-size: 30px;
}

.navbar .nav-title a{
    color: var(--gold);
}

.navbar .nav-item{
    list-style: none;
    display: inline;
}

.navbar .nav-item a {
    /* display: block; */
    color: var(--gold);
    font-size: 18px;
    font-weight: 800;
    margin-left: 100px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .nav-item a:hover{
    color:#FEF7DC;
}

.navbar.sticky{
    background: var(--black_light);
    box-shadow: 0px 2px 5px #FFF;
    /* 左右，上下，擴散，顏色 */
}

/* .navbar.sticky .nav-item a{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
} */

.navbar.sticky a:hover{
    border-bottom: solid 1px;
    
}

/*================================ Modal style ================================*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .3s ease-in-out;
}
  
/* Modal Content */
.modal-content {
background-image: none;
background-color: var(--black);
margin: auto;
padding: 20px;
border: 1px solid var(--gold);
width: 80%;
}

.modal-imgpic{
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

/* The Close Button */
.close {
color: var(--white);
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: var(--gold_light);
text-decoration: none;
cursor: pointer;
}

/*================================ all style ================================*/
ul{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 36px;
    text-align: center;
    position: relative;
    color: var(--gold);
}


h2::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 3px;
    background-color: var(--gold_light);
}

h2 .text{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

/* h2::after{
    content: "";
    position: absolute;
    right: 350px;
    top: 50%;
    width: 100px;
    height: 3px;
    background-color: var(--gold_light);
} */

.white-t{
    color: var(--white);
}

.mt-1{
    margin-top: 100px;
}

.mt-2{
    margin-top: 150px;
}

.mt-3{
    margin-top: 200px;
}

.mb-1{
    margin-bottom: 150px;
}

.ml-1{
    margin-left: 100px;
}

.mr-1{
    margin-right: 50px;
}

.mr-2{
    margin-right: 100px;
}

footer .scroll i{
    position: fixed;
    font-size: 40px;
    right: 50px;
    bottom: 50px;
}
/*================================ menu btn style ================================*/
.menu-btn{
    color: var(--gold);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*================================ home section style ================================*/
.home{
    display: flex;
    height: 100vh;
    color: var(--white);
    min-height: 500px;
    background: var(--black);
    background-image: url('./images/tt.svg');
    background-repeat: no-repeat;
    background-position: 850px -50px;
    /* min-width: 1500px; */
    /* 不加上面那句右邊會留白 */
}

.home .max-width{
    margin: auto;
}

.home .home-content{
    /* justify-content: center; */
    text-align: center;
}

.home-content .title{
    padding: 30px;
}

.home-content{
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 10px;
}

.home-content .second-title{
    padding-top: 10%;
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 30px;
    color: var(--gold);
}

.home-content .scroll {
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translateX(-50%);
}

.home-content .scroll a, footer .scroll a{
    color: var(--gold);
}

/*================================ about section style ================================*/
.about{
    /* min-width: 500px; */
    background: var(--black_light);
}

.about .title .text{
    background-color: var(--black_light);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
    color: var(--white);
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--gold);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: var(--gold);
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--gold);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: var(--gold_light);
    background: none;
}



/*================================ skill section style ================================*/
.skill{
    padding-top: 0;
    background: var(--black);
    /* 左右位置，上下位置(放大)，縮放 */
    /* background-size: cover; */
    
}

.w2{
    height: 200px;
    background: url('./images/artiom-vallat-TxUw6dXzhyA-unsplash.jpg') 10% no-repeat, var(--black);
    /* 左右位置，上下位置(放大)，縮放 */
    background-size: 200px;
    background-position: 90% 30%;
    padding: 50px;
}

.skill-group{
    display: flex;
    justify-content: space-between;
}

/* .skill-content{
    background: url('skill_bg.jpg');
} */

.skill-group .skill-list{
    flex: 1;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 50px;
    width: 20%;
}

.skill-content .title .text{
    /* background-color: rgba(0, 0, 0, .3); */
    background-color: black;
}

.skill-item .skill-name, .skill-item .skill-p{
    /* display: block; */
    text-align: center;
    flex-wrap: nowrap;
}

.skill-item .skill-name, .skill-item .skill-p ul li{
    padding-bottom: 30px;
}


.skill-item .skill-name{
    position: relative;
}

.skill-item .skill-name::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: var(--gold);
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.skill-item .skill-group{
    position: relative;
}

.skill-item .skill-img{
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.skill-item .skill-subImg{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*================================ experience section style ================================*/
.exp{
    background: var(--black_light);
    /* display: flex; */
    position: relative;
    color: var(--white);
}

.exp-inner .exp-list{
    display: flex;
    flex-wrap: wrap;
}

.exp-inner .exp-list .exp-item{
    width: 50%;
    padding: 0 10px;
    margin-bottom: -100px ;
}

.exp-inner .exp-list .exp-item:nth-child(2n){
    margin-top: 150px;
    text-align: right;
    justify-content: flex-start !important;
}

.exp-item-content{
    background: var(--black_light);
    box-shadow: 15px 15px 30px 1px rgba(0, 0, 0, 0.3);
}

.exp-inner .exp-list .exp-item:nth-child(2n) .exp-item-card {
    justify-content: end;
}

.exp-content .title .text{
    background-color: var(--black_light);
}

.exp-content .main-line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.exp-item-content h4{
    display: inline-block;
}

.exp-item-content img{
    position: relative;
    display: inline-block;
    max-width: 50%;
    max-height: 65px;
    margin-left: 5%;
    top: 20px;
}

.exp-content .exp-content-title{
    margin: 0;
    font-size: 25px;
    color: var(--gold_light);
}

.exp-content .exp-item-card{
    padding: 30px 0;
    display: flex;
    align-items: baseline;
}

/*================================ project section style ================================*/
.project{
    background: var(--black);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
}

.project-content .title .text{
    background-color: var(--black)
}

.bx-viewport {
    overflow: hidden;
  }
  
.bx-pager {
margin-top: 20px;
display: flex;
justify-content: center;
}



.bx-wrapper .bx-pager.bx-default-pager a {
background: rgb(172, 69, 69);
text-indent: -9999px;
display: block;
width: 15px;
height: 15px;
margin: 0 10px;
outline: 0;
border-radius: 10px;
box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3);
}
  
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
background: rgba(0, 0, 0, 0.7);
}
  
.full-card {
margin: 0 auto;
display: flex;
justify-content: center;
align-items: stretch;
padding: 20px;
/* new */
height: auto;
/* height: 80vh; */
/* max-height: 600px; */
background: var(--black);
width: 90%;
height: 50vh;
max-width: 1300px;
box-shadow: 0px 10px 10px -10px rgba(255, 255, 255, 0.9), 0px 10px 10px -10px rgba(255, 255, 255, 0.3), 0 10px 0px -10px rgba(255, 255, 255, 0.1);
}

.font-card {
    position: relative;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(45deg, #9fbee6 0%, #dfeaee 100%);
    padding: 20px 20px;
    margin: 0 15px;
    text-align: center;
    box-shadow: 0 15px 20px -15px rgba(255, 255, 255, 0.3), 0 55px 50px -35px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
}

.font-card.hovered-card {
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.font-card .font-card-title{
    opacity: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--gold);
}

.font-card .font-card-text {
    line-height: 1.4;
}

.font-description {
    padding: 0 30px;
    margin: 15px;
    margin-left: 3rem;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.font-description h2 {
    color: var(--gold);
}

.font-description h2::before {
    content: "";
    display: none;
}

.font-description h2 span {
    color: var(--gold_light);
}
.font-description p {
    padding-left: 15px;
    color: var(--white);
    line-height: 1.8;
}
.font-description p:before {
    content: "—";
    margin-left: -15px;
    margin-right: 4px;
}

.explore-button {
    font-size: 0.1em;
    background: var(--gold);
    /* width: 30%; */
    color: var(--white);
    display: inline-block;
    padding: 1em;
    margin-top: 2em;
    border: solid 3px var(--gold);
    border-radius: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
}
.explore-button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    color: #6f6f6f;
}

.font-description{
    user-select: none;
}

/*================================ contect section style ================================*/
.contect{
    height: 1000px;
    background: var(--black_light);
    background-image: url('./images/contect-circle.svg');
    background-repeat: no-repeat;
    background-position: 50% 80%;
    text-align: center;
    position: relative;
    
}

.contect .title .text{
    background-color: var(--black_light);
}

.contect .contect-info{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: all 0.3s ease;
}

.contect .contect-info .contect-title{
    font-size: 30px;
    font-weight: 400;
    color: var(--gold);
}

.contect .contect-info input, .contect .contect-info textarea{
    margin-top: 100px;
    font-size: 25px;
    border: 0;  /* 去除未選中狀態邊框 */
    outline: none; /* 去除選中狀態邊框 */
    background-color: rgba(0, 0, 0, 0); /* 透明背景 */
    border-bottom: 1px solid var(--white);
    color: var(--white);
    text-align: center;
}

.contect .contect-info .submit i{
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
}

.robotoslab-card {
    background: url('./images/linebot01.jpg') no-repeat center center;
    background-size: cover;
    }
    
.roboto-card {
    background: url('./images/linebot02.jpg') no-repeat center center;
    background-size: cover;
}

.lobster-card {
    background: url('./images/linebot1.PNG') no-repeat center center;
    background-size: cover;
}

.cabin-card {
    background: url('./images/linebot2.PNG') no-repeat center center;
    background-size: cover;
}

.eczar-card {
    background: url('./images/skh-project1.PNG') no-repeat center center;
    background-size: cover;
}

.gentium-card {
    background: url('./images/skh-project2.PNG') no-repeat center center;
    background-size: cover;
}

.contect-social{
    background-color: gray;
    background-size: cover;
    position: fixed;
    left: 10px;
    top: 30%;
    width: 50px;
    font-size: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px 30px gray;
}

.contect-social::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.1); */
    z-index: -1;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(50px);
    /* margin: -10px; */
}

.social-item:nth-child(n+2){
    margin-top: 20px;
}

.contect-social .social-item i{
    color: var(--white);
}



/*================================ RWD style ================================*/

@media screen and (max-width: 1400px) {
    .bx-wrapper{
        width: 90%;
    }

    .full-card{
        padding: 10px;
    }
}

@media screen and (max-width: 1134px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .navbar-nav{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        /* new 原本是 -100%*/
        top: -500%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .navbar-nav.active{
        top: 0;
    }
    .navbar .navbar-nav li{
        display: block;
    }
    .navbar .navbar-nav li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .menu-btn{
        display: inline-block;
    }

    .full-card {
        /* new */
        height: 500px;
        flex-wrap: wrap;
        margin: 0;
        }
        
    .font-card {
        width: calc(50% - 30px);
    }

    .font-description {
        width: 100%;
    }

    .contect .contect-info .submit{
        margin-top: 50px;
    }

    .contect .contect-info input{
        margin-top: 0;
    }

}

@media screen and (max-width: 991px) {
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    .skill-group{
        display: block;
    }

    .skill-group .skill-list{
        display: block;
        width: 100%;
    }

    .exp-content .exp-item-card{
        padding: 0;
    }

    .font-description{
        padding: 0;
        margin: 0;
    }

}

@media screen and (max-width: 911px){
    .main-line{
        display: none;
    }
    
    .exp-inner .exp-list .exp-item{
        width: 100%;
    }

    .exp-inner .exp-list .exp-item{
        margin-bottom: 0;
    }

    .exp-inner .exp-list .exp-item:nth-child(2n){
        margin-top: 0;
        text-align: left;
    }

    .exp-inner .exp-list .exp-item:nth-child(2n) .exp-item-card {
        justify-content: start;
    }

    .exp-item-content img{
        /* width: 50%; */
        object-fit: cover;
    }

    .exp-content .exp-content-title{
        padding: 20px 0 0 0;
    }
    
}

@media screen and (max-width: 700px){
    /* .full-card{
        width: 50%;
        height: 1000px;
    } */
    .font-description h2{
        font-size: 30px;
    }

    .font-description p{
        font-size: 12px;
    }

    .content-social{
        width: 30px;
        box-shadow: 0 0 30px 30px gray;
    }

    
}

@media screen and (max-width: 600px){    
    .max-width{
        padding: 0 50px;
    }
    
    .font-card {
        height: 30vh;
    }
    
    .font-description h2 {
        font-size: 20px;
    }

    .contect-social{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        box-shadow: none;
        background-color: transparent;
        
    }

    .contect-social .social-item{
        display: inline-block;
    }

}

@media screen and (max-width: 520px){
    /* .bx-viewport li{
        width: 300px;
    } */
    .max-width{
        padding: 0 20px;
    }
    
    .home-content{
        font-size: 28px;
    }
    
    .home-content .second-title{
        font-size: 48px;
    }

    .bx-viewport{
        height: 200vh;
    }

    .font-card {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .font-description h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 368px){
    
}
